.nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  
  .nav-link.active {
    color: white;
  }
  
  .text-4xl {
    color: white;
    text-decoration: none;
  }
  
  .text-4xl:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  